/software/imobiliariati/nbproject/private/
/software/imobiliariati/build/
/software/imobiliariati/dist/
/website/imagens-imoveis/
/website/php/utils/ConnectionCredencials.php
/software/imobiliariati/src/utils/ConnectionCredentials.java
/software/imobiliariati/src/utils/ConnectionCredentials.class
